body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/43/Nnenna_Nwakanma_Web_Foundation.jpg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
}

img{
    width: 300px;
}
h1{
    color: green
}
table,tr,td{
    color: green;
    border: 3px solid green
}
p{
    color:green;
}